services:
  app:
    build:
      context: ../repo
      dockerfile: Dockerfile
    container_name: abw-app
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    networks:
      - web

networks:
  web:
    external: true
